body{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
    text-align:center;
    // background-color: black;
    color:white;
}
input, button{
    box-sizing:border-box;
    text-align:center;
    display:block;
    margin:auto;
    padding:5px;
}
